<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/footer.css" rel="stylesheet">
    </head>
    <body>
        <div class="footer-container">
            <div class="footer-text-div">
            <p class="footer-text">Welcome to my website. This was made with EJS! Check out my Socials</p>
            </div>

            <div class="footer-socials">
            <p className="socoal-title">Socials:</p>
            <div class="socials">
                <img src="./img/insta.png" class="social-icon" id="insta" alt="insta"/>
                <img src="/img/discord.png" class="social-icon" id="discord" />
                <img src="/img/faceBook.png" class="social-icon" id="facebook" />
                <img src="/img/reddit.png" class="social-icon" id="reddit" />
            </div>
            <footer>&copy; Copyright 2021 Alex Green</footer>
            </div>
        </div>
    </body>
</html>