<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Headers - 12</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/NavBar.css"/>
  </head>
  <body>
    <header class="site-header">
        <div class="site-header__start">
          <a href="/" class="brand">Brand</a>
        </div>
        <div class="site-header__middle">
          <ul class="sub-nav">
            <li class="nav-link"><a class="name-link"href="/AboutMe">About Me</a></li>
            <li class="nav-link"><a class="name-link" href="/ProjectsPage">Projects Page</a></li>
            <li class="nav-link"><a class="name-link" href="/ContactPage">Contact Page</a></li>
            <li class="nav-link"><a class="name-link" href="/ServicePage">Service Page</a></li>
          </ul>
        </div> 
        <div class="site-header__end">
          <button class="button button-icon" aria-label="Sign in" id="sign-in">
           <p id="p-signIn">Sign in </p>
          </button>
           <button href="#" class="button button-icon" aria-label="Register" id="register-btn">
           <p id="p-register">Register</p>
          </button>
        </div>
    </header>
  </body>
</html>
