<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/AboutMe.css" />
    </head>
    <body>
     <%- include('./partials/NavBar') %>
     <div class="aboutMe-Container">
        <div class="page-title">
            <h3>About Me</h3>
        </div>

        <div class="personal-information">
            <div class="text-information">
                <p class="secondary-text-info">
                Hello, my Name is Alex Green. Welcome to my website. Here you can find all<br />
                kinds of information about me, the projects i've completed and much more. Feel <br />
                free to make an account and come back for more updates on the website.<br />
                </p>
            </div>

      <div class="picture-card">
        <div class="card">
            <img src="/img/ProfilePicture.jpg" alt="Alex" class="profile-pic" style="width:100%">
        <h1>Alex Green</h1>
        <p class="title">A.I. Engineering Technologies.</p>
         <p>Centennial College</p>
             <div style="margin: 24px 0;">
         <a href="#"><i class="fa fa-dribbble">s</i></a> 
            <a href="#"><i class="fa fa-twitter">s</i></a>  
            <a href="#"><i class="fa fa-linkedin">s</i></a>  
            <a href="#"><i class="fa fa-facebook">s</i></a>
            
         </div>
        <p><button class="contact-btn">Contact</button></p>
            </div>
              
            </div>
            </div>
              <div class="hobbies">
                <div class="left-hobbies">
                    <h4>Hobbies:</h4>
                     <table>
                        <tr>
                            <td>Playing Volleyball</td>
                             </tr>
                            <tr>
                            <td>React Coding</td>
                        </tr>
                       <tr>
                       <td>Hiking</td>
            </tr>
            <tr>
                <td>OffRoad - Biking</td>
            </tr>
                </table>
                </div>
            
                <div class="right-hobbies">
                    

                    <table class="fav-music">
                       <h4>Favorite Music</h4>
                        <tr>
                        <th>Artist</th>
                        <th> Song Name</th> ,bmv ,...           .
                        </tr>
                        <tr>
                         <td>Drake</td>
                         <td>Motto</td>
                        </tr>
                        <tr>
                        <td>21 Savage</td>
                        <td>Rap Saved Me</td>
                       </tr>
                       <tr>
                        <td>Katy Perry</td>
                        <td>Fire Wors</td>
            </tr>
            <tr>
             <td>Migos</td>
            <td>Drop Tops</td>
            </tr>
                </table>
                
                </div>
              </div>
                    <div class="Resume-FavoriteGames">
                        <div class="resume-container">
                            <a class="download-btn" href="" download>
                                Download Resume
                            </a>
                        
                        </div>                    

                        <div class="favortie-games">
                             <h4 class="fav-games">Favorite Games</h4>
                          <table>
                        <tr>
                            <th>Company Name</th>
                            <th>Game</th>
                        </tr>
                        <tr>
                            <td>Valve</td>
                            <td>CS:GO</td>
                        </tr>
                        <tr>
                            <td>343 Industries</td>
                            <td>Halo</td>
                       </tr>
                       <tr>
                            <td>Activision</td>
                            <td>Warzone</td>
                        </tr>
                        <tr>
                            <td>Mojang</td>
                            <td>Minecraft</td>
                        </tr>
                </table>
                        </div>
                        </div>
                        </div>
                <%- include('./partials/footer') %>
    </body>
</html>