.background-image-container {
    background-image: url('/img/college.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-color {
    text-align: center;
    width: auto;
    height: 100vh;
    background-color: rgba(50, 23, 77, 0.9);
}

.funny-quotes {
    background-color: #2f3258;
}

.site-title-box {
    position: relative;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    top: 35vh;
}

h3 {
    color: whitesmoke;
    font-family: 'Goblin One', cursive;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.secondary-text {
    color: black;
    font-size: 20px;
}

.quotes-container {
    background-color: #232546;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.quote {
    padding: 10px;
    background-color: #1f223c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border: 1.5px solid black;
    border-radius: 10px;
    height: fit-content;
    margin-right: 30px;
}

.quote-img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

@media screen and (max-width: 800px) {
    .site-title-box {
        width: 400px;
    }
}